
#reservation-widget {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 15px;
    width: 400px;
    border-radius: 21px;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border: 1px solid gray;
    box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset !important;
}

.dates {
    border:1px solid black;
    width: 100%;
    border-radius: 12px;

}
.dates p {
    font-size: 30px;
}

#dates-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 12px;
    height: 100%;
    width: 100%;
}

#reservation-header-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: aquamarine;
    height: 100px;
}

#reservation-header-container p {
    font-size: 25px;
    font-weight: 800;
}
#reservation-selection-container {
    background-color: red;
    height: 30%;
    width: 100%;
}
#reservation-button-container {
    background-color: purple;
    color: white;
    height: 40px;
}
#reservation-fee-container {
    background-color: yellow;
    height: 120px;
}

#reservation-total-container {
    background-color: orange;
    padding: 20px;
}