#search-bar-container {
    display: flex;
    width:250px;
    height: 35px;
    justify-content: space-around;
     background-color: transparent;
     margin-top: 15px;
     border: 1px solid;
     border-color: rgb(158, 156, 156);
     margin-bottom: 10px;
     border-radius: 21px;
     margin-right: 200px;
     text-align: center;
     align-items: center;
     box-shadow: 5px 5px 5px rgb(192, 191, 191);

 }
 .calendar-container {
    padding: 20px;
    width: 50vw;
    display: none;
  }

  #icon-container {
    display: flex;
    margin-left: 330px;
    padding: 5px;
    
  }
  #search-icon{
    padding-bottom: 15px;
    height: 40px;
    width: 50px;
  }
  

  #search-bar {

    justify-content: center;
    width: 100vw;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
  }