#search-bar-container {
    display: flex;
    width: 20vw;
    height: 10vh;
    justify-content: space-around;
     background-color: transparent;
     margin-top: 25px;
     border: 1px solid;
     border-color: gray;
     margin-bottom: 20px;
     border-radius: 21px;
     margin-right: 200px;
 }
 .calendar-container {
    padding: 20px;
    width: 50vw;
    display: none;
  }

  #icon-container {
    display: flex;
    margin-left: 330px;
    padding: 5px;
    
  }
  #search-icon{
    padding-bottom: 15px;
    height: 40px;
    width: 50px;
  }
  

  #search-bar {

    justify-content: center;
    width: 100vw;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
  }