
#reviews-container {
    grid-column-start: 2;
    grid-column-end: 5;
    height: fit-content;
  }
  
.delete-review {
  margin-left: 10%;
}

  #review-stats-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    margin-top: 2%;
    line-height: 1.6;

    font-weight: 600;
  }
  #review-summary-container {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .review-summary-half {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10%;
    
  }

  
  
  #review-details-container {
    display: flex;
    justify-content: space-between;
  
  }
  #create-review-container {
    font-size: 25px;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
  }

  #details-left {
    margin-right: 10%;
    width: 50%;
  }

#details-right {
  width: 50%;
}
#avg-review-score > span{
    font-size: 35px;
    font-weight: 600;
    margin-left: 10px;
  }
  
