body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    column-gap: 10px;
    position: relative;
  }
  
  #nav-container {
    border-bottom:  1px solid #cdc1c1;
    position: relative;
    height: 90px;
  }

  #logo-box{
    display: flex;
    height: fit-content;
    grid-column-start:1;
    background-color: white;
    padding: 20px 80px;
    margin-left: 5%;
  }

  

  

  
  #nav-logo {
    display: flex;
    justify-items: left;
    margin-right: 0% ;
    cursor: pointer;
  }

#navbar-social-media-container{
  display:  flex;
  justify-content: space-evenly;
  width: 10%;
  margin-left: 15%;
  margin-top: 25px;
}