body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    column-gap: 10px;
    position: relative;
  }
  
  #nav-container {
    min-width: 100%;
    min-height: fit-content;
    height: 80px;
    padding: 20px 80px;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    border-bottom: 1px solid rgb(230, 222, 222);
  }

  #logo-container{
    margin-left: 1%;
    width: 15%;
    min-width: 10%;

  }

  #search {
    padding-right: 5%;
    width: 40%;
    min-width: 20%;
  }

  #social {

    width: 20%;
    min-width: 15%;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
  }

  #drop-down {
    width: 25%;
    min-width: 10%;

  }

  #logo-box{
    grid-column-start: 1;
  
    display: flex;
    height: fit-content;
    grid-column-start:1;
    background-color: white;
    padding: 20px 80px;
    margin-left: 5%;
  }

  

  

  
  #nav-logo {
    display: flex;
    justify-items: left;
    margin-right: 0% ;
    cursor: pointer;
  }

#navbar-social-media-container{

    grid-column-start: 3;


    display: flex; 
    justify-content: space-around;
    min-width: 15%; 
    height: 15%; 


    margin-top: 25px;
    margin-left: 10%;
    cursor: pointer; /* Add a pointer on hover */
  
}

