

#upload-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%; overflow-x: hidden; 
    max-height: 100%; overflow-y: hidden;
    font-family:  sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#side-container {
    height: 100vh;
    width:  50vw;
    background-color: blue   
}

video {
    width: 50vw;
    height: 100vh;
    object-fit: fill;
    object-position: 0px 25%;
    position: relative;
}



#video-overlay {
    width: 480px;
    padding: 14px;
    word-wrap:normal;
    font-weight: 800;
    position: fixed;
    padding: 20px;
    margin-top: 700px;
    z-index: 2;
    color: white;
    font-size: 50px;


}
#submit-container {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin-right: 90px;

}
#submit-form {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    border: 1px dotted black;
    background-color: white;
    margin-left: 10vw;
    margin-top: 25vh;
    height: 50vh;
    width: 35vw;
    
}

#photo-form {
    margin-top: 200px;
    

}
#page-toggle{
    margin-top: 700px;
    height: 10vh;
    width: 50vw;
    background-color: red;
}

#submit-icon {
    display: flex;
   justify-content: space-between;
    text-align: center;
    margin-right: 10;
}
#file-input {
    opacity: 0%;
}

#bottom-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 1vh;
    width: 50vw;
    min-height: 1px;
}
#next-container {
    display: flex;
    margin-right: 50px;
    height: 1px;
}



#next-button {
    width: 90px;
    height: 50px;
    font-size: 15px;
    font-weight: 800;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: black;
    opacity: 90%;
    box-shadow: none;
    border: 0;
    color: white;
    

}
#back {
    display: flex;
    border-top: 2px solid black;
    padding: 10px;
    padding-top: 30px;
    justify-content: center;

    color: black;
    width: 200px;
}
