body {
    height: 100vh;
    width: 100vw;
    font-family: 'Manrope', sans-serif;
    
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  /* grid-template-rows: repeat(20,auto); */
  gap: 5px;
  /* background-color: #2196F3; */
  padding-left: 150px;
  width: 100%;
  height: 100%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);

}

  #show-title-container {
    grid-column-start: 2;
    grid-column-end: 5;
    height: 15px;
    padding: 50px;
  }

  #show-image-container {
    grid-column-start: 2;
    grid-column-end: 5;

    grid-auto-flow: dense;
    padding: 50px;
    padding-top: 20px;

  }

  #show-calendar-container {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 50px;
  
  }

  #show-details-container {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 40px;
  
  }
  .header-title{
    font-size: 45px;
    line-height: 30px; 
    font-weight: 500 ;

}



  .reservation-item{
    font-size: 20px;
  }


.images-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.images-grid {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1,auto);
}

.images-grid > :nth-child(3){
    border-top-right-radius: 12px;
}

.images-grid > :nth-child(5){
    border-bottom-right-radius: 12px;
}

.images-grid img {
    border: 2px solid white;
}

#main-image {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

#show-title-container{
  font-size: 20px;
}

#show-title-star{
  width: 20px;
}

.details-items {
    display: flex;
    min-width: 33%;
    width: 100%;
    font-size: 25px;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}


.detail-title {
  font-size: 30px;
  font-weight: 600;
}

/*modal settings*/

.modal-hide {
    height: 0px;
    width: 0px;
    display: none;
}
.modal-show {
    -webkit-box-pack: center;
    -webkit-box-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    z-index: 2000;
    position: fixed;
    inset: 0px;
    max-height: calc(var(--vh, 1vh) * 100);
    padding-top: calc(12px + env(safe-area-inset-top, 0));
    display: flex;
    flex-direction: row;
    align-items: flex-end ;
    justify-content: center;
    
}
  
  
    .closing-x {
        width: 10px;
        padding-bottom: 10px;
    }
    .modal-background {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }
    
    .modal-content {
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 400px;
      margin-left: 33vw;
      margin-top: 0vh;
      position: absolute;
      background-color:white;
      padding: 40px;
      border-radius: 20px;
    }
  

    #show-description-container {
        font-size: 20px;
        font-weight: 400;
       line-height: 1.6;

    }

    #show-reservation-container{
        margin-top: 48px;
        position: sticky;
        grid-column-start: 4;
        grid-column-end: 4;
        display: block;
        height: 100%;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 20px;
        padding: 30px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        box-sizing: border-box;
      }

      .reservation-item{
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
        display: flex !important;
        flex-direction: column !important;
      }

    #reservation-price {
        display: flex !important;
        flex-flow: row wrap !important;
        justify-content: space-between !important;
        align-items: baseline !important;
        margin-bottom: 24px !important;
        color: rgb(34, 34, 34) !important;
    }

    #reservation-price span {
        font-weight: 900 !important;
        font-size: 30px !important;
        line-height: 20px !important;
    }
    
    #reservation-info-box {
      margin-top: 40px;
    
    }

#dates-box {
  display: flex;
  justify-content: space-between;
  text-align: left;

}

#dates-box div{
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  height: 50px;
}


#check-in-date {
  border-top-left-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#check-out-date {
  border-top-right-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#show-reserve-button-container{
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  height: 120px;
}

#show-reserve-button{
  height: 50px;
  font-size: 20px;
  color: white;
  border: transparent;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important;
  border-radius: 12px;
}

.fee-item{
  margin-top: 25px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
}

.border-line {
  width: 100%;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
}

#reservation-total-fee{
  font-size: 22px;
  text-decoration: none;
  font-weight: 900;
}

#aircover-container{
  grid-column-start: 2;
  grid-column-end: 4;
  height: 200px;
  line-height: 1.6;
  font-size: 20px;
  margin-top: 20px;
}


#aircover-banner {
  width: 150px;
  height: 30px;
}

#show-ammenities-container {

    grid-column-start: 2;
    grid-column-end: 4;

    line-height: 1.6;
    font-size: 20px;
    margin-top: 20px;

  
}


.guests-confirmation-container p {
  font-size: 20px;
  font-weight: 800;
}