
#root-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
}

#content{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 90%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}






img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.images-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(2,75%);
    grid-auto-flow: dense;
  
}

.images-grid > :nth-child(3){
    border-top-right-radius: 12px;
}

.images-grid > :nth-child(5){
    border-bottom-right-radius: 12px;
}
.images-grid img {
    border: 2px solid white;
}

.corner-image {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#main-image {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}


.images-grid > *:first-child {
    grid-column: span 2;
    grid-row: span 2;
}


#header-container {
    width: 100%;
    height: 80px;
    padding: 10px;
}

#header-title{
    font-size: 26px !important;
    line-height: 30px !important;
    font-weight: 600 !important
}


#details-container {
    display: flex;
    margin-top: 250px;
    background-color: blue;
}

.modal-hide {
    height: 0px;
    width: 0px;
    display: none;
}
.modal-show {
    -webkit-box-pack: center;
    -webkit-box-align: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    z-index: 2000;
    position: fixed;
    inset: 0px;
    max-height: calc(var(--vh, 1vh) * 100);
    padding-top: calc(12px + env(safe-area-inset-top, 0));
    display: flex;
    flex-direction: row;
    align-items: flex-end ;
    justify-content: center;
    
}
  
  
    .closing-x {
        width: 10px;
        padding-bottom: 10px;
    }
    .modal-background {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }
    
    .modal-content {
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 400px;
      margin-left: 33vw;
      margin-top: 0vh;
      position: absolute;
      background-color:white;
      padding: 40px;
      border-radius: 20px 
    }
  
  
  