#date-selector-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    justify-content: space-evenly;
}


.calendar-square {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    width: 40px;
    height: 30px;
    border: 1px solid transparent;

    cursor: pointer;
}

.calendar-square:hover{
    border-color: black;
    border-radius: 50%;
}
.arrow {
    height: 15px;
    width: 10px;
}
#date-selector-container button {
    height: 20px;
    width: 20px;
}
#calendar-container{
    display: flex;
    justify-content: space-between;

}

#calendar-header {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

#calendar-header button {
    background-color: transparent;
    border: none;
    width: 25px;
    cursor: pointer;

}

