.reviewer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;  
    padding: 10px;
    border-top: 1px solid rgb(184, 174, 174);
  }

.review-text {
  font-size: 16px;
  padding: 10px;


}

.reviewer-name{
    font-size: 25px;
    font-weight: 600;
}
  
  #review-details-container {
    display: flex;
    justify-content: space-between;
  
  }
  
  #details-left {
    margin-right: 10%;
    width: 50%;
  }

#details-right {
  width: 50%;
}

.review-item {
    display: flex;
    font-size: 22px;
    width: 100%;
    justify-content: space-between;
    
  }
  
  .review-update-options {
    display: flex;
    width: 20%;
    margin-right: 20%;
  }

  .review-option {
    margin-left: 10%;
  }
