#review-details-container {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    border-top-left-radius: 20px;
  }

  #reviews-header {
    font-size: 25px;
    margin-top: 20px;

    font-weight: 600;
  }
  .reviewer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12px;  
    padding: 10px;
    border-top: 1px solid rgb(184, 174, 174);
  }

  
#review-options-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  grid-column-start: 1;
  margin-left: 5%;
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

#review-date {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.6;
  text-decoration: underline;
}

#reviewer-name{
    font-size: 20px;
    font-weight: 600;
}

.review-update-options {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.review-text {
  display: flex;

  width: 100%;
  font-size: 16px;
  padding-top: 10px;
  font-weight: 400;
}
#review-date {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

#review-details-header {
  display:  flex;

  justify-content: space-between;
  width: 50%;
}

#review-textbox{
  width: 500px;
  height: 200px;
  margin-left: 10%;
}