#review-details-container {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
  
  }

  #reviews-header {
    font-size: 30px;
    margin-top: 20px;

    font-weight: 600;
  }
  .reviewer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;  
    padding: 10px;
    border-top: 1px solid rgb(184, 174, 174);
  }
#review-options-container {
  display: flex;
  justify-content: space-around;
  width: 10%;
  text-decoration: underline;
  cursor: pointer;
  color: red;
}
.review-text {
  display: flex;

  font-size: 16px;
  padding: 10px;
  width: 100%;
}

#review-date {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.6;
  text-decoration: underline;
}

.reviewer-name{
    font-size: 25px;
    font-weight: 600;
}

.review-update-options {
  display: flex;
  justify-content: space-between;
  width: 20%;
  font-size: 20px;
  font-weight: 200;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.review-text {
  font-size: 20px;
}
