
.info-container {
    display: flex;

}

#info-box {
    line-height: 1.2;
   width: 200px;
    max-height: fit-content;
    padding: 10px;

}

#rating-box {

    text-align: center;
    padding-top: 10px;
    padding-left: 25px;
    margin-left: 19px;
    width: 60px;

}

#review-star {
    width: 17px;
}

#distance-dates {
    opacity: 50%;
}

.reservation-item img {
    width: 15px;
}




.listing{
    height: 350px;
    min-width: 250px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    box-sizing: border-box;
  }
  
  .image-container {
    height: 60%;
    width: 100%;
    display: flex;
  
  }
  
  .listing-image {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    max-height: 100%;
    max-width: 100%;
    width: 300px;
    height: 250px;
    object-fit: fill;
  }
  
  