
.info-container {
    display: flex;
    
}

#info-box {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5;
   width: 350px;
    max-height: fit-content;
    padding: 10px;

}

#rating-box {
    font-family:  'Montserrat', sans-serif;;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;

    width: 200px;

}

#review-star {
    width: 16px;
}

#distance-dates {
    opacity: 50%;
}

.reservation-item img {
    width: 15px;
}




.listing{
    font-family: cereal_W_bk;
    height: 450px;
    width: 350px;
    min-width: 250px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;

    box-sizing: border-box;
  }
  
  .image-container {
    height: 70%;
    width: 100%;
    display: flex;
    cursor: pointer;
  }

  #image-button-container {
    position: absolute;
    display: flex;
    color: black;
    z-index: 3;
    width: 100%;
    margin-left: 290px;
    margin-top: 140px;
  }


  #image-button-container > button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    visibility: none;
    opacity: 0;
    transition: .5s visibility, opacity .5s;
  }
  
  .listing-image {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    max-height: 100%;
    max-width: 100%;
    width: 650px;
    height: 650px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: fill;
    position: relative;
  }

  .image-container:hover #image-button{
    visibility: visible;
    opacity: .8;
  }
  
  .image-circle {
    margin: 10px;
   
    border-radius: 20px;
    margin-bottom: 20px;
  }

  #image-count {
    position: absolute;
    display: flex;
    color: black;
    z-index: 3;
    color:white;
    margin-top: 230px;
    justify-content: space-around;
    margin-left: 100px;
  }
